/*----------Basic Styles---------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Montserrat";
  background: #FAFAFA;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----------Components---------- */
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  margin-right: 132px;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
  gap: 21px;
}
.menu__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  max-width: 610px;
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.2px;
  text-align: center;
}

.subtitle {
  max-width: 510px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
  text-align: center;
}

/*----------Pages---------- */
.hero {
  padding: 184px 0px 191px 0px;
  position: relative;
}
.hero__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.hero__title {
  max-width: 510px;
  color: #252B42;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 138%;
  letter-spacing: 0.2px;
}
.hero__subtitle {
  max-width: 376px;
  color: #737373;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
}
.hero__buttons {
  display: flex;
  gap: 10px;
}
.hero__button {
  padding: 10px 36px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.2px;
  border-radius: 37px;
  background: var(--primary-color, #FF7B47);
}
.hero__button-border {
  background: transparent;
  color: #0D5C63;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.2px;
  border: 1px solid var(--secondary-color-1, #0D5C63);
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.hero__background img {
  -o-object-position: right;
     object-position: right;
}

.services__items {
  display: flex;
  margin-top: -110px;
  gap: 30px;
}
.services__item {
  max-width: 328px;
  padding: 35px 40px;
  background: #FFF;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.item-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item-services__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-services__subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
}

.statistics {
  padding: 80px 0 0 0;
}
.statistics__items {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.item-statistics {
  padding: 30px 40px 30px 40px;
  text-align: center;
  background: #FFF;
}
.item-statistics__number {
  margin: 10px 0;
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.2px;
}
.item-statistics__text {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.benefits {
  padding: 181px 0 0 0;
}
.benefits__items {
  margin: 45px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.item-benefits {
  flex: 0 1 240px;
  background: #fff;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-benefits__info {
  padding: 30px;
}
.item-benefits__title {
  color: #252B42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-benefits__subtitle {
  margin: 15px 0 20px 0;
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
}
.item-benefits__image img {
  width: 100%;
}

/*----------Media---------- */
/*PC*/
/*TABLET*/
@media (max-width: 991.98px) {
  .hero__background img {
    opacity: 0.4;
  }
  .services__items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .services__item {
    width: 80%;
    align-items: center;
    max-width: none;
  }
  .statistics__items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 220px);
    gap: 40px;
  }
  .benefits {
    padding: 120px 0 0 0;
  }
  .benefits__items {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
  }
  .item-benefits__subtitle {
    margin: 15px 0 0 0;
  }
}
/*MOBILE*/
@media (max-width: 767.98px) {
  .header__logo {
    margin-right: 70px;
  }
  .hero {
    padding: 150px 0 150px 0;
  }
  .hero__info {
    align-items: center;
    text-align: center;
  }
  .hero__title {
    max-width: none;
    font-size: 46px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .services__item {
    width: 100%;
  }
  .services__items {
    margin-top: -80px;
  }
  .statistics__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .item-statistics__number {
    margin: 5px 0;
  }
}
/*MOBILE SMALL*/
@media (max-width: 479.98px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 12px;
  }
  .header__logo {
    position: relative;
    z-index: 2;
  }
  .menu {
    margin-left: auto;
  }
  .menu__icon {
    margin-right: 15px;
    display: block;
    position: relative;
    width: 37px;
    height: 24px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #252B42;
    transition: all 0.5s ease;
  }
  .menu__icon span {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon._active span {
    opacity: 0;
  }
  .menu__icon._active::after {
    transform: rotate(-45deg) translateX(40%);
  }
  .menu__icon._active::before {
    transform: rotate(45deg) translateX(40%);
  }
  .menu__body {
    padding-top: 215px;
    position: fixed;
    top: -100%;
    right: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    transition: all 0.5s ease;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menu__link {
    font-size: 28px;
  }
  .hero {
    padding: 150px 0 191px 0;
  }
  .heroinfo {
    gap: 20px;
  }
  .hero__buttons {
    flex-direction: column;
    gap: 15px;
  }
  .hero__title {
    font-size: 40px;
  }
  .item-services {
    gap: 5px;
  }
  .item-services__title {
    font-size: 22px;
  }
  .item-services__subtitle {
    font-size: 12px;
  }
  .statistics {
    padding: 80px 0 0 0;
  }
  .benefits {
    padding: 80px 0 0 0;
  }
  .benefits__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .benefits__item-benefits {
    min-height: auto;
  }
  .benefits__item-benefits__title {
    max-width: none;
  }
}