/*PC*/
@media (max-width: 1087px) {}

/*TABLET*/
@media (max-width: 991.98px) {
    .hero {
        &__background img {
            opacity: .4;
        }
    }

    .services {
        &__items {
            flex-direction: column;
            align-items: center;
            gap: 20px;

        }

        &__item {
            width: 80%;
            align-items: center;
            max-width: none;
        }
    }

    .statistics{
        &__items{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, 230px);
            gap:40px;
        }
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    .header {
        &__logo {
            margin-right: 70px;
        }
    }

    .hero {
        padding: 150px 0 150px 0;

        &__info {
            align-items: center;
            text-align: center;
        }

        &__title {
            max-width: none;
            font-size: 46px;
        }

        &__subtitle {
            font-size: 18px;
        }
    }

    .services {
        &__item {
            width: 100%;
        }

        &__items {
            margin-top: -80px;
        }
    }

    .statistics{
        &__items{
            display: flex;
            flex-direction: column;
            gap:20px;
        }
    }

    .item-statistics{
        &__number{
            margin: 5px 0;
        }
    }
}

/*MOBILE SMALL*/
@media (max-width: 479.98px) {
.title{
    font-size: 32px;
}

.subtitle{
    font-size: 12px;
}

    .header {
        &__logo {
            position: relative;
            z-index: 2;
        }
    }

    .menu {
        margin-left: auto;

        &__icon {
            margin-right: 15px;
            display: block;
            position: relative;
            width: 37px;
            height: 24px;
            cursor: pointer;
            z-index: 5;

            & span,
            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background: #252B42;

                transition: all .5s ease;
            }

            & span {
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                top: 0;
            }


            &::after {
                bottom: 0;
            }

            &._active span {
                opacity: 0;
            }

            &._active::after {
                transform: rotate(-45deg) translateX(40%);
            }

            &._active::before {
                transform: rotate(45deg) translateX(40%);
            }
        }

        &__body {

            padding-top: 215px;
            position: fixed;
            top: -100%;
            right: 0%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #fff;
            transition: all .5s ease;

            &._active {
                top: 0;
            }
        }

        &__list {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__link {
            font-size: 28px;
        }
    }

    .hero {
        padding: 150px 0 191px 0;

        &info {
            gap: 20px;
        }

        &__buttons {
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            font-size: 40px;
        }
    }

    .item-services {
        gap: 5px;

        &__title {
            font-size: 22px;

        }

        &__subtitle {
            font-size: 12px;
        }
    }

    .statistics{
        padding: 50px 0 0 0;
    }
}