.hero {
    padding: 184px 0px 191px 0px;

    position: relative;

    &__container {}

    &__info {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__title {
        max-width: 510px;
        color: #252B42;
        font-size: 58px;
        font-style: normal;
        font-weight: 800;
        line-height: 138%;
        letter-spacing: 0.2px;
    }

    &__subtitle {
        max-width: 376px;
        color: #737373;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.2px;
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }

    &__button {
        padding: 10px 36px;

        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        letter-spacing: 0.2px;

        border-radius: 37px;
        background: var(--primary-color, #FF7B47);
    }

    &__button-border {
        background: transparent;
        color: #0D5C63;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        letter-spacing: 0.2px;

        border: 1px solid var(--secondary-color-1, #0D5C63);
    }


    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        & img {
            object-position: right;
        }
    }
}

.services {


    &__container {}

    &__items {
        display: flex;
        margin-top: -110px;
        gap: 30px;
    }

    &__item {
        max-width: 328px;
        padding: 35px 40px;
        background: #FFF;
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    }
}

.item-services {
    display: flex;
    flex-direction: column;
    gap: 10px;


    &__icon {}

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 133%;
        letter-spacing: 0.1px;
    }

    &__subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%;
        letter-spacing: 0.2px;
    }
}

.statistics {
    padding: 80px 0 0 0;


    &__container {}

    &__header {

    }

    &__title {}

    &__subtitle {}

    &__items {
        margin: 50px 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    &__item {}
}

.item-statistics {
    padding: 30px 40px 30px 40px;
    text-align: center;
    background: #FFF;

    &__icon {}

    &__number {
        margin: 10px 0;
        color: #252B42;
        font-size: 40px;
        font-weight: 700;
        line-height: 143%;
        letter-spacing: 0.2px;
    }

    &__text {
        color: #737373;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.1px;
    }
}